<section class="section">
  <div class="container">
    <h1 class="title" *ngIf="!isCreate">Updating User #{{ userId}}</h1>
    <h1 class="title" *ngIf="isCreate">Creating User</h1>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="field">
        <label class="label">Name</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="text" placeholder="Text input" formControlName="name"
            [ngClass]="{ 'is-danger': submitted && f.name.errors }">
        </div>
        <p class="help is-danger" *ngIf="submitted && f.name.errors">Name is required</p>
      </div>
      <div class="field" *ngIf="isCreate">
        <label class="label">Password</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="text" placeholder="Text input" formControlName="password"
            [ngClass]="{ 'is-danger': submitted && f.password.errors }">
        </div>
        <p class="help is-danger" *ngIf="submitted && f.password.errors">Name is required</p>
      </div>
      <div class="field">
        <label class="label">Roles</label>
        <div class="control has-icons-left has-icons-right">
          <div class="select is-multiple" [ngClass]="{ 'is-danger': submitted && f.role.errors }">
            <select multiple formControlName="role">
              <option *ngFor="let role of roles" [value]="role.id">{{ role.role }}</option>
            </select>
          </div>
        </div>
        <p class="help is-danger" *ngIf="submitted && f.role.errors">Select at least one category</p>
      </div>
      <div class="container">
        <button type="submit" class="button is-info">Submit</button>
      </div>
    </form>
  </div>
</section>
